html {
    /*layout-self*/
    height: 100vh;
    width: 100vw;

    /*layout-children*/
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);

    /* style */
    background-color: burlywood;
}

body {
    /*layout-self*/

    /*layout-children*/
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}

main {
    /*layout-children*/
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}

tabview {
    margin: 5px;

    /*layout-children*/
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

tabview > tab-nav {
    display: flex;
    flex-direction: row;
    justify-items: left;
}

tab {
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}

tabview > tab-nav > tab-header {
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
    /* style */
    border: solid;
    border-width: 1px;
}

tabview > tab-nav > tab-header:hover {
    background-color: white;
}

tabview > tab {
    margin:0;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span all;
    display: none;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
    /* style */
    background-color: red;
}

tabview > tab:first-of-type {
    display: grid;
}

section {
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}

.ace_editor {
    background-color: white;
}

.x {
    font-style: italic;
}