<router-outlet></router-outlet>

<p-tabView>
  <p-tabPanel header="Expression">
    <agl-editor></agl-editor>
    <p-tree></p-tree>
  </p-tabPanel>
  <p-tabPanel header="Language">
    <p-tabView>
      <p-tabPanel header="Grammar">
        <agl-editor></agl-editor>
      </p-tabPanel>
      <p-tabPanel header="Style">
        <agl-editor></agl-editor>
      </p-tabPanel>
      <p-tabPanel header="Format">
        <agl-editor></agl-editor>
      </p-tabPanel>
    </p-tabView>
  </p-tabPanel>
</p-tabView>
