html {
    /*layout-self*/
    height: 100vh;
    width: 100vw;

    /*layout-children*/
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);

    /* style */
    background-color: burlywood;
}

body {
    /*layout-self*/

    /*layout-children*/
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}

main {
    /*layout-children*/
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header" "body";
}

tabview {
    margin: 5px;

    /*layout-children*/
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

tabview > tab-nav {
    display: flex;
    flex-direction: row;
    justify-items: left;
}

tab {
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}

tabview > tab-nav > tab-header {
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
    /* style */
    border: solid;
    border-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    background-color: #f0f0f0;
}

tabview > tab-nav > tab-header:hover {
    background-color: white;
}

tabview > tab-nav > tab-header.tab-active {
    background-color: white;
    border-bottom: none;
}

tabview > tab {
    margin: 0;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span all;
    display: none;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
    /* style */
    background-color: red;
}

tabview > tab:first-of-type {
    display: grid;
}

treeview treeview-children {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    display: none;
}
treeview treeview-leaf {
    display: block;
}

treeview treeview-branch {
    cursor: pointer;
    user-select: none;
    display: block;
}

treeview treeview-branch:before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

treeview treeview-branch[open]:before {
    transform: rotate(90deg);
}

treeview treeview-branch[open] > treeview-children {
    display: block;
}

section {
    display: grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}


.ace_marker_text_error {
    position: absolute;
    border-bottom: 1px solid red;
}

tab#sentence {
    grid-template-columns: 5fr 4fr;
    grid-template-areas: "text trees";
}

section#text {
    grid-area: text;
}

section#trees {
    grid-area: trees;
    background-color: blanchedalmond;
}

tab#parse {
     background-color: burlywood;
}
tab#asm {
    background-color: bisque;
}

agl-editor {
    display:grid;
    grid: auto-flow minmax(0, 1fr) / minmax(0, 1fr);
}
