.sentence-text .ace_tok7 {
    color : purple ;
    font-weight : bold ;

}
.sentence-text .ace_tok8 {
    color : purple ;
    font-weight : bold ;

}
.sentence-text .ace_tok9 {
    color : purple ;
    font-weight : bold ;
}
.sentence-text .ace_tok10 {
    color : purple ;
    font-weight : bold ;
}